<app-not-found
  [visible]="!design"
  notFoundMessage="Design not found"
  resetLinkText="Go to Home"
></app-not-found>
<div *ngIf="design" class="container">
  <img [src]="design.imageUrl" [alt]="design.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ design.name }}
      </span>
    </div>
    <div class="rating">
      <star-rating
        [value]="design.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="25px"
        [readonly]="true"
      >
      </star-rating>
    </div>

    <div class="tags">
      <a *ngFor="let tag of design.tags" routerLink="/tag/{{ tag }}">
        {{ tag }}
      </a>
    </div>

    <div class="manufacturer">
      <span>
        Manufactured by <strong>{{ design.manufacturer }}</strong>
      </span>
    </div>

    <div class="price">
      <span>
        {{ design.price | currency : "₹" }}
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
